.left-Panel{
    flex:3;
    
}
.right-Panel{
    flex:1;
    
    box-shadow: 0 2px 10px;
   
}
.right-Panel h2{
    background-color: green;
    color:white;
    padding:5px;
    margin:0px;


}
.right-content div{
    border-bottom:1px solid lightgray   ;
    margin-bottom:8px;
}
.right-content{
margin:8px;
}
.flex-class
{
    display: flex;
    margin: 0 auto;
    width:80%
}
body{
    
    margin:0px;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;


}

input[type="text"]
{
   
    padding:5px;
    border-radius: 5px;
    border:1px solid lightgrey
}

input[type="text"]:focus
{
    border:1px solid red;
    outline:none;
}

input:disabled{
    width:45px;
}
button{
    background-color:lightblue;
    border:none;
    padding:6px;
    border-radius: 5px;;
}
table{
    width:80%;
    border-collapse:collapse;

}
thead{
    background:blue;
   
    color:white;
}
th{
    padding: 5px;
}
 tr:nth-child(even){
    background:lightgoldenrodyellow;

}
